---
import Navbar from "../components/Navbar.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="About">
  <Navbar />
  <main class="grid place-content-center">
    <h2 class="text-4xl">about</h2>
  </main>
</Layout>
