---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro"
const title = "Landing Page"
---

<Layout title="Draft.ia">
  <Navbar />
  <main class="grid place-content-center">
    <h1 class="text-4xl">{title}</h1>
  </main>
</Layout>
