---
import { Github } from "./icons/Github"
---

<footer
  class="flex footer bottom-0 justify-around bg-white dark:text-white border-gray-200 px-2 py-4 w-full dark:bg-gray-900 mobile-lay"
>
  <a
    class="text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent hover-underline-animation md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
    href="https://github.com/Atticus64">Developed by Jonathan 🐢</a
  >
  <a
    href="https://github.com/Atticus64/draft.ia"
    class="hover:text-gray-400 flex flex-row align-middle items-center"
  >
    <Github />
    Source Code
  </a>
</footer>

<style>
  html {
    height: 100%;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }

  @media (max-width: 530px) {
    /* .mobile-lay {
      display: flex;
      align-items: center;
      flex-direction: column;
    } */

    a {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
</style>
