:root {
  --send_width: 18rem
}

.activated {
  background-color: #bae6fd;
  width: var(--send_width);
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.btn-copy:hover {
  transform: scale(1.20);
}

.activated:hover {
  background-color: #60a5fa;
  transform: scale(1.05);
}

.prompt-preview {
  width: 19rem;
  word-break: break-all;
}

.disable {
  background-color: #cecece;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  width: var(--send_width);
}




