:root {
  --send-width: 24em;
  --btn-width: calc((var(--send-width))/2);
}

.activated {
  background-color: #bae6fd;
  width: var(--send-width);
}

.btn-copy {
  width: var(--btn-width);
}

.btn-edit {
  /* width: var(--btn-width); */
  width: 5em;
}

.activated:hover {
  background-color: #60a5fa;
  transform: scale(1.05);
}

.prompt-preview {
  width: 25em;
  word-break: break-all;
}

.disable {
  background-color: #cecece;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  width: var(--send-width);
}


@media (max-width: 415px) {
  :root {
    --send-width: 15em
  }

  .btn-edit {
    width: var(--send-width);
    margin: 1rem;
  }

  .btns-layout {
    margin: 0;
    flex-direction: column;
  }

  .btn-counter {
    margin: 0;
    margin-top: 2;
    width: 2.4rem;
  }

  .form {
    width: var(--send-width);
  }

  .input {
    width: var(--send-width);
  }

  .activated {
    background-color: #bae6fd;
    width: var(--send-width);
  }


  .activated:hover {
    background-color: #60a5fa;
    transform: scale(1.05);
  }

  .prompt-preview {
    width: var(--send-width);
    word-break: break-all;
  }

  .disable {
    background-color: #cecece;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    width: var(--send-width);
  }



}