---
import Footer from "../components/Footer.astro"

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/hint.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }

  @font-face {
    font-family: "Mona Sans";
    src: url("/fonts/Mona-Sans.woff") format("woff");
  }
  html {
    font-family: "Mona Sans", "Arial Narrow", Arial, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>

<script>
  const btnDark = document.getElementById("button-dark")
  const btnLight = document.getElementById("button-light")

  if (
    localStorage.getItem("color-theme") === "dark" ||
    (!("color-theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    document.documentElement.classList.add("dark")
    document.documentElement.style.backgroundColor = "#1e293b"
    document.documentElement.style.setProperty("--bg-color", "#1e293b")
    btnDark.classList.toggle("hidden")
  } else {
    document.documentElement.classList.remove("dark")
    document.documentElement.style.setProperty("--bg-color", "#f6f6f6")
    btnLight.classList.toggle("hidden")
  }
</script>
